@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-blue: #1877F2;
    --color-green: #42B72A;
    --color-gray: #212121;
    --color-bg-white: #f0f2f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Open Sans';
}